*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
 
ci/credentials.yml

TrebleMaker/Compositions/*
TrebleMaker/target/*
target/*
Loops/* 
Compositions/*
/TrebleMaker/Compositions/*
/TrebleMaker/HiveComposeCore/Compositions/audioshims/*
/TrebleMaker/HiveComposeCore/Compositions/*

SoundFonts/*
TrebleMakerCore/.idea/*
TrebleMakerCore/app.log
TrebleMakerCore/.idea/libraries
audioshims/*

FluidSynth/
MrsWatson/
TrebleMakerCore/target/surefire/
Vst64BitSynths/
ffmpeg/
jFugue/
libs/
soundstretch/
sox1442/
trained-chords-model.zip
trained-melody-model.zip

TrebleMakerCore/src/main/java/com/hivecompose/tests/Mocks/mockAudio/monoparts/*
TrebleMakerCore/src/main/java/com/hivecompose/tests/Mocks/mockAudio/stereoparts/*
TrebleMakerCore/src/main/java/com/hivecompose/tests/Mocks/mockAudio/audioparts/*

TrebleMakerCore/logs/*  
*/logs/*
TrebleMakerCore/logs
